workflow.json
{"updatedAt":"2026-05-22T20:08:29.775Z","createdAt":"2026-05-22T19:58:51.454Z","id":"RIOfBhNGgfOd9Iwg","name":"Travel & Hospitality - Gestion de Consultas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consulta-travel","responseMode":"responseNode","options":{}},"id":"n-webhook","name":"Nueva consulta (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"travel-consulta-webhook-01"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"fecha","type":"string","value":"={{ $now.format('dd/MM/yyyy HH:mm') }}"},{"id":"a2","name":"nombre","type":"string","value":"={{ ($json.body?.nombre || $json.body?.name || 'Sin nombre').toString().trim() }}"},{"id":"a3","name":"email","type":"string","value":"={{ ($json.body?.email || '').toString().trim() }}"},{"id":"a4","name":"telefono","type":"string","value":"={{ ($json.body?.telefono || $json.body?.phone || $json.body?.tel || 'No informado').toString().trim() }}"},{"id":"a5","name":"servicio","type":"string","value":"={{ ($json.body?.servicio || $json.body?.tipo_servicio || $json.body?.service || 'No especificado').toString().trim() }}"},{"id":"a6","name":"fechas","type":"string","value":"={{ ($json.body?.fechas || $json.body?.fecha_viaje || $json.body?.dates || 'A definir').toString().trim() }}"},{"id":"a7","name":"estado","type":"string","value":"Nueva consulta"}]},"options":{}},"id":"n-set","name":"Normalizar consulta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,300]},{"parameters":{"respondWith":"json","responseBody":"={{ ({ success: true, mensaje: 'Recibimos tu consulta. Un asesor de Latitud Sur Viajes se va a contactar con vos a la brevedad.' }) }}","options":{}},"id":"n-respond","name":"Responder al cliente","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,300]},{"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"mode":"list","value":"1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo","cachedResultName":"Travel & Hospitality - Consultas y Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Consultas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"fecha":"={{ $('Normalizar consulta').item.json.fecha }}","nombre":"={{ $('Normalizar consulta').item.json.nombre }}","email":"={{ $('Normalizar consulta').item.json.email }}","telefono":"={{ $('Normalizar consulta').item.json.telefono }}","servicio":"={{ $('Normalizar consulta').item.json.servicio }}","fechas":"={{ $('Normalizar consulta').item.json.fechas }}","estado":"={{ $('Normalizar consulta').item.json.estado }}"},"matchingColumns":[],"schema":[{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fechas","displayName":"fechas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"n-save","name":"Guardar consulta en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[720,300],"credentials":{"googleSheetsOAuth2Api":{"id":"0Kt71SzMepWcOxrp","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"sendTo":"={{ $('Normalizar consulta').item.json.email }}","subject":"=Recibimos tu consulta, {{ $('Normalizar consulta').item.json.nombre }} - Latitud Sur Viajes","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#2d3748;line-height:1.6;max-width:560px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#ffffff;padding:20px 24px;border-radius:8px 8px 0 0\"><h1 style=\"margin:0;font-size:20px\">Latitud Sur Viajes</h1><p style=\"margin:4px 0 0;font-size:13px;opacity:.9\">Agencia de viajes boutique</p></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:24px;border-radius:0 0 8px 8px\"><p style=\"margin-top:0\">Hola <strong>{{ $('Normalizar consulta').item.json.nombre }}</strong>,</p><p>Gracias por escribirnos. Recibimos tu consulta sobre <strong>{{ $('Normalizar consulta').item.json.servicio }}</strong> y ya la estamos revisando.</p><p>Uno de nuestros asesores se va a poner en contacto con vos muy pronto para ayudarte a planear tu proximo viaje.</p><div style=\"background:#f0f9fa;border-left:3px solid #0a7e8c;padding:12px 16px;border-radius:4px;margin:20px 0\"><strong>Resumen de tu consulta</strong><br>Servicio: {{ $('Normalizar consulta').item.json.servicio }}<br>Fechas: {{ $('Normalizar consulta').item.json.fechas }}</div><p>Gracias por confiar en nosotros para tu proxima aventura.</p><p style=\"margin-bottom:0\">Saludos,<br><strong>Equipo de Latitud Sur Viajes</strong></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-cli","name":"Email confirmacion al cliente","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[960,300],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"2404a9c4-d471-4203-989e-15fb1f84adaa"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"contents\": [ { \"parts\": [ { \"text\": \"Sos el asistente del equipo de Latitud Sur Viajes, una agencia de viajes boutique de Argentina. Analiza la consulta de un cliente y genera un analisis breve y accionable para el equipo interno. DATOS DE LA CONSULTA -- Nombre: \" + $('Normalizar consulta').item.json.nombre + \" | Email: \" + $('Normalizar consulta').item.json.email + \" | Telefono: \" + $('Normalizar consulta').item.json.telefono + \" | Servicio que busca: \" + $('Normalizar consulta').item.json.servicio + \" | Fechas de viaje: \" + $('Normalizar consulta').item.json.fechas + \". Devolve unicamente un JSON con 4 campos: urgencia (Alta, Media o Baja segun la cercania de las fechas y el tipo de pedido); tipo_servicio (categoria clara: Paquete turistico, Vuelos, Hoteleria, Excursion, Crucero, Luna de miel o Viaje corporativo); resumen (2 o 3 frases sobre lo que necesita el cliente); sugerencia_respuesta (un mensaje cordial, concreto y listo para enviar, en espanol rioplatense, para que el equipo le responda al cliente).\" } ] } ], \"generationConfig\": { \"temperature\": 0.4, \"responseMimeType\": \"application/json\", \"responseSchema\": { \"type\": \"OBJECT\", \"properties\": { \"urgencia\": { \"type\": \"STRING\" }, \"tipo_servicio\": { \"type\": \"STRING\" }, \"resumen\": { \"type\": \"STRING\" }, \"sugerencia_respuesta\": { \"type\": \"STRING\" } }, \"required\": [\"urgencia\",\"tipo_servicio\",\"resumen\",\"sugerencia_respuesta\"] } } }) }}","options":{}},"id":"n-gemini","name":"Resumen con IA (Gemini)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const resp = $input.first() ? ($input.first().json || {}) : {};\nlet txt = '';\ntry {\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts && resp.candidates[0].content.parts[0]) {\n    txt = resp.candidates[0].content.parts[0].text || '';\n  }\n} catch (e) { txt = ''; }\n\nconst consulta = $('Normalizar consulta').item.json;\nlet urgencia = 'Media';\nlet tipo_servicio = consulta.servicio || 'No especificado';\nlet resumen = '';\nlet sugerencia_respuesta = '';\n\nif (txt) {\n  try {\n    const p = JSON.parse(txt);\n    if (p.urgencia) urgencia = p.urgencia;\n    if (p.tipo_servicio) tipo_servicio = p.tipo_servicio;\n    if (p.resumen) resumen = p.resumen;\n    if (p.sugerencia_respuesta) sugerencia_respuesta = p.sugerencia_respuesta;\n  } catch (e) {}\n}\n\nif (!resumen) {\n  resumen = 'No se pudo generar el resumen automatico con IA. Por favor revisar la consulta del cliente manualmente.';\n}\nif (!sugerencia_respuesta) {\n  sugerencia_respuesta = 'Contactar al cliente, agradecer la consulta y pedir mas detalles sobre fechas exactas, cantidad de pasajeros y presupuesto estimado.';\n}\n\nreturn [{ json: { urgencia, tipo_servicio, resumen, sugerencia_respuesta, generado_por: 'Gemini 2.5 Flash' } }];","mode":"runOnceForAllItems"},"id":"n-code-ia","name":"Procesar resumen IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300]},{"parameters":{"sendTo":"andradezequiel00@gmail.com","subject":"=Nueva consulta [{{ $json.urgencia }}] - {{ $('Normalizar consulta').item.json.nombre }} ({{ $('Normalizar consulta').item.json.servicio }})","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#2d3748;line-height:1.6;max-width:620px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#fff;padding:18px 22px;border-radius:8px 8px 0 0\"><h2 style=\"margin:0;font-size:18px\">Nueva consulta de cliente</h2></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:22px;border-radius:0 0 8px 8px\"><h3 style=\"margin:0 0 8px;color:#0a7e8c;font-size:15px\">Datos del cliente</h3><table style=\"border-collapse:collapse;width:100%;font-size:13px\"><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Fecha</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.fecha }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Nombre</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.nombre }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Email</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.email }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Telefono</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.telefono }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Servicio</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.servicio }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Fechas</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.fechas }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Estado</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.estado }}</td></tr></table><h3 style=\"margin:22px 0 8px;color:#0a7e8c;font-size:15px\">Analisis con IA (Gemini)</h3><div style=\"background:#f0f9fa;border:1px solid #cce7ea;border-radius:6px;padding:14px 16px\"><p style=\"margin:0 0 8px\"><strong>Urgencia:</strong> <span style=\"background:#0a7e8c;color:#fff;padding:2px 10px;border-radius:12px;font-size:12px\">{{ $json.urgencia }}</span></p><p style=\"margin:0 0 8px\"><strong>Tipo de servicio:</strong> {{ $json.tipo_servicio }}</p><p style=\"margin:0 0 8px\"><strong>Resumen:</strong> {{ $json.resumen }}</p><p style=\"margin:0\"><strong>Sugerencia de respuesta para el cliente:</strong><br><em>{{ $json.sugerencia_respuesta }}</em></p></div><p style=\"margin:18px 0 0;font-size:13px\"><a href=\"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit\" style=\"color:#0a7e8c\">Ver todas las consultas en Google Sheets</a></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-founder","name":"Notificar al founder","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,300],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"e02504cd-49b1-4e5a-8712-477ac65caed2"},{"parameters":{"resume":"timeInterval","amount":24,"unit":"hours"},"id":"n-wait","name":"Esperar 24h","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,300],"webhookId":"travel-wait-followup-01"},{"parameters":{"resource":"sheet","operation":"read","documentId":{"__rl":true,"mode":"list","value":"1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo","cachedResultName":"Travel & Hospitality - Consultas y Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Consultas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit#gid=0"},"options":{}},"id":"n-read","name":"Leer planilla","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,300],"credentials":{"googleSheetsOAuth2Api":{"id":"0Kt71SzMepWcOxrp","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"jsCode":"const consulta = $('Normalizar consulta').item.json;\nconst email = (consulta.email || '').toString().trim().toLowerCase();\nconst filas = $input.all().map(i => i.json);\nconst propias = filas.filter(f => (f.email || '').toString().trim().toLowerCase() === email);\nconst fila = propias.length ? propias[propias.length - 1] : null;\nconst estado = fila ? (fila.estado || '').toString().trim() : 'NO_ENCONTRADA';\nreturn [{ json: { estado, encontrada: !!fila, total_filas: filas.length } }];","mode":"runOnceForAllItems"},"id":"n-code-find","name":"Verificar estado consulta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.estado }}","rightValue":"Nueva consulta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n-if","name":"Sin respuesta aun?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,300]},{"parameters":{"sendTo":"={{ $('Normalizar consulta').item.json.email }}","subject":"=Seguimos trabajando en tu consulta, {{ $('Normalizar consulta').item.json.nombre }}","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#2d3748;line-height:1.6;max-width:560px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#ffffff;padding:20px 24px;border-radius:8px 8px 0 0\"><h1 style=\"margin:0;font-size:20px\">Latitud Sur Viajes</h1></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:24px;border-radius:0 0 8px 8px\"><p style=\"margin-top:0\">Hola <strong>{{ $('Normalizar consulta').item.json.nombre }}</strong>,</p><p>Te escribimos para contarte que <strong>seguimos trabajando en tu consulta</strong> sobre {{ $('Normalizar consulta').item.json.servicio }}.</p><p>Queremos asegurarnos de ofrecerte la mejor propuesta posible, por eso uno de nuestros asesores se va a comunicar con vos a la brevedad.</p><p>Si mientras tanto queres agregar algun detalle (cantidad de pasajeros, presupuesto o preferencias), podes responder este mismo email.</p><p style=\"margin-bottom:0\">Gracias por tu paciencia.<br><strong>Equipo de Latitud Sur Viajes</strong></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-followup","name":"Follow-up al cliente","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2880,200],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"e470e326-d91f-4e05-8bc7-1b519dcae651"}],"connections":{"Nueva consulta (Webhook)":{"main":[[{"node":"Normalizar consulta","type":"main","index":0}]]},"Normalizar consulta":{"main":[[{"node":"Responder al cliente","type":"main","index":0}]]},"Responder al cliente":{"main":[[{"node":"Guardar consulta en Sheet","type":"main","index":0}]]},"Guardar consulta en Sheet":{"main":[[{"node":"Email confirmacion al cliente","type":"main","index":0}]]},"Email confirmacion al cliente":{"main":[[{"node":"Resumen con IA (Gemini)","type":"main","index":0}]]},"Resumen con IA (Gemini)":{"main":[[{"node":"Procesar resumen IA","type":"main","index":0}]]},"Procesar resumen IA":{"main":[[{"node":"Notificar al founder","type":"main","index":0}]]},"Notificar al founder":{"main":[[{"node":"Esperar 24h","type":"main","index":0}]]},"Esperar 24h":{"main":[[{"node":"Leer planilla","type":"main","index":0}]]},"Leer planilla":{"main":[[{"node":"Verificar estado consulta","type":"main","index":0}]]},"Verificar estado consulta":{"main":[[{"node":"Sin respuesta aun?","type":"main","index":0}]]},"Sin respuesta aun?":{"main":[[{"node":"Follow-up al cliente","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","errorWorkflow":"3vAf8F8BWRrdGwGG"},"staticData":null,"meta":null,"pinData":null,"versionId":"46d0551d-ba7a-48e0-bfe2-43ce4bb053ea","activeVersionId":"46d0551d-ba7a-48e0-bfe2-43ce4bb053ea","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-05-22T19:58:51.455Z","createdAt":"2026-05-22T19:58:51.455Z","role":"workflow:owner","workflowId":"RIOfBhNGgfOd9Iwg","projectId":"qogwzpMepc2gDJmA","project":{"updatedAt":"2026-04-10T17:00:24.076Z","createdAt":"2026-04-10T17:00:17.892Z","id":"qogwzpMepc2gDJmA","name":"EZEQUIEL ANDRADE <andradezequiel00@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c3a1b5cf-87e8-4057-a478-ab0fe4d3c148"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-22T20:08:29.775Z","createdAt":"2026-05-22T20:08:29.775Z","versionId":"46d0551d-ba7a-48e0-bfe2-43ce4bb053ea","workflowId":"RIOfBhNGgfOd9Iwg","nodes":[{"parameters":{"httpMethod":"POST","path":"consulta-travel","responseMode":"responseNode","options":{}},"id":"n-webhook","name":"Nueva consulta (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"travel-consulta-webhook-01"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"fecha","type":"string","value":"={{ $now.format('dd/MM/yyyy HH:mm') }}"},{"id":"a2","name":"nombre","type":"string","value":"={{ ($json.body?.nombre || $json.body?.name || 'Sin nombre').toString().trim() }}"},{"id":"a3","name":"email","type":"string","value":"={{ ($json.body?.email || '').toString().trim() }}"},{"id":"a4","name":"telefono","type":"string","value":"={{ ($json.body?.telefono || $json.body?.phone || $json.body?.tel || 'No informado').toString().trim() }}"},{"id":"a5","name":"servicio","type":"string","value":"={{ ($json.body?.servicio || $json.body?.tipo_servicio || $json.body?.service || 'No especificado').toString().trim() }}"},{"id":"a6","name":"fechas","type":"string","value":"={{ ($json.body?.fechas || $json.body?.fecha_viaje || $json.body?.dates || 'A definir').toString().trim() }}"},{"id":"a7","name":"estado","type":"string","value":"Nueva consulta"}]},"options":{}},"id":"n-set","name":"Normalizar consulta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,300]},{"parameters":{"respondWith":"json","responseBody":"={{ ({ success: true, mensaje: 'Recibimos tu consulta. Un asesor de Latitud Sur Viajes se va a contactar con vos a la brevedad.' }) }}","options":{}},"id":"n-respond","name":"Responder al cliente","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,300]},{"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"mode":"list","value":"1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo","cachedResultName":"Travel & Hospitality - Consultas y Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Consultas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"fecha":"={{ $('Normalizar consulta').item.json.fecha }}","nombre":"={{ $('Normalizar consulta').item.json.nombre }}","email":"={{ $('Normalizar consulta').item.json.email }}","telefono":"={{ $('Normalizar consulta').item.json.telefono }}","servicio":"={{ $('Normalizar consulta').item.json.servicio }}","fechas":"={{ $('Normalizar consulta').item.json.fechas }}","estado":"={{ $('Normalizar consulta').item.json.estado }}"},"matchingColumns":[],"schema":[{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fechas","displayName":"fechas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"n-save","name":"Guardar consulta en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[720,300],"credentials":{"googleSheetsOAuth2Api":{"id":"0Kt71SzMepWcOxrp","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"sendTo":"={{ $('Normalizar consulta').item.json.email }}","subject":"=Recibimos tu consulta, {{ $('Normalizar consulta').item.json.nombre }} - Latitud Sur Viajes","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#2d3748;line-height:1.6;max-width:560px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#ffffff;padding:20px 24px;border-radius:8px 8px 0 0\"><h1 style=\"margin:0;font-size:20px\">Latitud Sur Viajes</h1><p style=\"margin:4px 0 0;font-size:13px;opacity:.9\">Agencia de viajes boutique</p></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:24px;border-radius:0 0 8px 8px\"><p style=\"margin-top:0\">Hola <strong>{{ $('Normalizar consulta').item.json.nombre }}</strong>,</p><p>Gracias por escribirnos. Recibimos tu consulta sobre <strong>{{ $('Normalizar consulta').item.json.servicio }}</strong> y ya la estamos revisando.</p><p>Uno de nuestros asesores se va a poner en contacto con vos muy pronto para ayudarte a planear tu proximo viaje.</p><div style=\"background:#f0f9fa;border-left:3px solid #0a7e8c;padding:12px 16px;border-radius:4px;margin:20px 0\"><strong>Resumen de tu consulta</strong><br>Servicio: {{ $('Normalizar consulta').item.json.servicio }}<br>Fechas: {{ $('Normalizar consulta').item.json.fechas }}</div><p>Gracias por confiar en nosotros para tu proxima aventura.</p><p style=\"margin-bottom:0\">Saludos,<br><strong>Equipo de Latitud Sur Viajes</strong></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-cli","name":"Email confirmacion al cliente","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[960,300],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"2404a9c4-d471-4203-989e-15fb1f84adaa"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"contents\": [ { \"parts\": [ { \"text\": \"Sos el asistente del equipo de Latitud Sur Viajes, una agencia de viajes boutique de Argentina. Analiza la consulta de un cliente y genera un analisis breve y accionable para el equipo interno. DATOS DE LA CONSULTA -- Nombre: \" + $('Normalizar consulta').item.json.nombre + \" | Email: \" + $('Normalizar consulta').item.json.email + \" | Telefono: \" + $('Normalizar consulta').item.json.telefono + \" | Servicio que busca: \" + $('Normalizar consulta').item.json.servicio + \" | Fechas de viaje: \" + $('Normalizar consulta').item.json.fechas + \". Devolve unicamente un JSON con 4 campos: urgencia (Alta, Media o Baja segun la cercania de las fechas y el tipo de pedido); tipo_servicio (categoria clara: Paquete turistico, Vuelos, Hoteleria, Excursion, Crucero, Luna de miel o Viaje corporativo); resumen (2 o 3 frases sobre lo que necesita el cliente); sugerencia_respuesta (un mensaje cordial, concreto y listo para enviar, en espanol rioplatense, para que el equipo le responda al cliente).\" } ] } ], \"generationConfig\": { \"temperature\": 0.4, \"responseMimeType\": \"application/json\", \"responseSchema\": { \"type\": \"OBJECT\", \"properties\": { \"urgencia\": { \"type\": \"STRING\" }, \"tipo_servicio\": { \"type\": \"STRING\" }, \"resumen\": { \"type\": \"STRING\" }, \"sugerencia_respuesta\": { \"type\": \"STRING\" } }, \"required\": [\"urgencia\",\"tipo_servicio\",\"resumen\",\"sugerencia_respuesta\"] } } }) }}","options":{}},"id":"n-gemini","name":"Resumen con IA (Gemini)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const resp = $input.first() ? ($input.first().json || {}) : {};\nlet txt = '';\ntry {\n  if (resp.candidates && resp.candidates[0] && resp.candidates[0].content && resp.candidates[0].content.parts && resp.candidates[0].content.parts[0]) {\n    txt = resp.candidates[0].content.parts[0].text || '';\n  }\n} catch (e) { txt = ''; }\n\nconst consulta = $('Normalizar consulta').item.json;\nlet urgencia = 'Media';\nlet tipo_servicio = consulta.servicio || 'No especificado';\nlet resumen = '';\nlet sugerencia_respuesta = '';\n\nif (txt) {\n  try {\n    const p = JSON.parse(txt);\n    if (p.urgencia) urgencia = p.urgencia;\n    if (p.tipo_servicio) tipo_servicio = p.tipo_servicio;\n    if (p.resumen) resumen = p.resumen;\n    if (p.sugerencia_respuesta) sugerencia_respuesta = p.sugerencia_respuesta;\n  } catch (e) {}\n}\n\nif (!resumen) {\n  resumen = 'No se pudo generar el resumen automatico con IA. Por favor revisar la consulta del cliente manualmente.';\n}\nif (!sugerencia_respuesta) {\n  sugerencia_respuesta = 'Contactar al cliente, agradecer la consulta y pedir mas detalles sobre fechas exactas, cantidad de pasajeros y presupuesto estimado.';\n}\n\nreturn [{ json: { urgencia, tipo_servicio, resumen, sugerencia_respuesta, generado_por: 'Gemini 2.5 Flash' } }];","mode":"runOnceForAllItems"},"id":"n-code-ia","name":"Procesar resumen IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300]},{"parameters":{"sendTo":"andradezequiel00@gmail.com","subject":"=Nueva consulta [{{ $json.urgencia }}] - {{ $('Normalizar consulta').item.json.nombre }} ({{ $('Normalizar consulta').item.json.servicio }})","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#2d3748;line-height:1.6;max-width:620px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#fff;padding:18px 22px;border-radius:8px 8px 0 0\"><h2 style=\"margin:0;font-size:18px\">Nueva consulta de cliente</h2></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:22px;border-radius:0 0 8px 8px\"><h3 style=\"margin:0 0 8px;color:#0a7e8c;font-size:15px\">Datos del cliente</h3><table style=\"border-collapse:collapse;width:100%;font-size:13px\"><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Fecha</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.fecha }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Nombre</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.nombre }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Email</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.email }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Telefono</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.telefono }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Servicio</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.servicio }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Fechas</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.fechas }}</td></tr><tr><td style=\"padding:7px 12px;font-weight:bold;background:#f5f7fa;border:1px solid #e2e8f0;white-space:nowrap\">Estado</td><td style=\"padding:7px 12px;border:1px solid #e2e8f0\">{{ $('Normalizar consulta').item.json.estado }}</td></tr></table><h3 style=\"margin:22px 0 8px;color:#0a7e8c;font-size:15px\">Analisis con IA (Gemini)</h3><div style=\"background:#f0f9fa;border:1px solid #cce7ea;border-radius:6px;padding:14px 16px\"><p style=\"margin:0 0 8px\"><strong>Urgencia:</strong> <span style=\"background:#0a7e8c;color:#fff;padding:2px 10px;border-radius:12px;font-size:12px\">{{ $json.urgencia }}</span></p><p style=\"margin:0 0 8px\"><strong>Tipo de servicio:</strong> {{ $json.tipo_servicio }}</p><p style=\"margin:0 0 8px\"><strong>Resumen:</strong> {{ $json.resumen }}</p><p style=\"margin:0\"><strong>Sugerencia de respuesta para el cliente:</strong><br><em>{{ $json.sugerencia_respuesta }}</em></p></div><p style=\"margin:18px 0 0;font-size:13px\"><a href=\"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit\" style=\"color:#0a7e8c\">Ver todas las consultas en Google Sheets</a></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-founder","name":"Notificar al founder","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,300],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"e02504cd-49b1-4e5a-8712-477ac65caed2"},{"parameters":{"resume":"timeInterval","amount":24,"unit":"hours"},"id":"n-wait","name":"Esperar 24h","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,300],"webhookId":"travel-wait-followup-01"},{"parameters":{"resource":"sheet","operation":"read","documentId":{"__rl":true,"mode":"list","value":"1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo","cachedResultName":"Travel & Hospitality - Consultas y Reservas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Consultas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WQ7dZZgiKLjcnCRGUiURyE698N2EtGRlbXQn4NlTmHo/edit#gid=0"},"options":{}},"id":"n-read","name":"Leer planilla","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,300],"credentials":{"googleSheetsOAuth2Api":{"id":"0Kt71SzMepWcOxrp","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"jsCode":"const consulta = $('Normalizar consulta').item.json;\nconst email = (consulta.email || '').toString().trim().toLowerCase();\nconst filas = $input.all().map(i => i.json);\nconst propias = filas.filter(f => (f.email || '').toString().trim().toLowerCase() === email);\nconst fila = propias.length ? propias[propias.length - 1] : null;\nconst estado = fila ? (fila.estado || '').toString().trim() : 'NO_ENCONTRADA';\nreturn [{ json: { estado, encontrada: !!fila, total_filas: filas.length } }];","mode":"runOnceForAllItems"},"id":"n-code-find","name":"Verificar estado consulta","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.estado }}","rightValue":"Nueva consulta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"n-if","name":"Sin respuesta aun?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,300]},{"parameters":{"sendTo":"={{ $('Normalizar consulta').item.json.email }}","subject":"=Seguimos trabajando en tu consulta, {{ $('Normalizar consulta').item.json.nombre }}","emailType":"html","message":"=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#2d3748;line-height:1.6;max-width:560px;margin:0 auto\"><div style=\"background:#0a7e8c;color:#ffffff;padding:20px 24px;border-radius:8px 8px 0 0\"><h1 style=\"margin:0;font-size:20px\">Latitud Sur Viajes</h1></div><div style=\"border:1px solid #e2e8f0;border-top:none;padding:24px;border-radius:0 0 8px 8px\"><p style=\"margin-top:0\">Hola <strong>{{ $('Normalizar consulta').item.json.nombre }}</strong>,</p><p>Te escribimos para contarte que <strong>seguimos trabajando en tu consulta</strong> sobre {{ $('Normalizar consulta').item.json.servicio }}.</p><p>Queremos asegurarnos de ofrecerte la mejor propuesta posible, por eso uno de nuestros asesores se va a comunicar con vos a la brevedad.</p><p>Si mientras tanto queres agregar algun detalle (cantidad de pasajeros, presupuesto o preferencias), podes responder este mismo email.</p><p style=\"margin-bottom:0\">Gracias por tu paciencia.<br><strong>Equipo de Latitud Sur Viajes</strong></p></div></div>","options":{"appendAttribution":false}},"id":"n-mail-followup","name":"Follow-up al cliente","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2880,200],"credentials":{"gmailOAuth2":{"id":"WaZiKwLXO2QI4aJO","name":"Gmail account"}},"webhookId":"e470e326-d91f-4e05-8bc7-1b519dcae651"}],"connections":{"Nueva consulta (Webhook)":{"main":[[{"node":"Normalizar consulta","type":"main","index":0}]]},"Normalizar consulta":{"main":[[{"node":"Responder al cliente","type":"main","index":0}]]},"Responder al cliente":{"main":[[{"node":"Guardar consulta en Sheet","type":"main","index":0}]]},"Guardar consulta en Sheet":{"main":[[{"node":"Email confirmacion al cliente","type":"main","index":0}]]},"Email confirmacion al cliente":{"main":[[{"node":"Resumen con IA (Gemini)","type":"main","index":0}]]},"Resumen con IA (Gemini)":{"main":[[{"node":"Procesar resumen IA","type":"main","index":0}]]},"Procesar resumen IA":{"main":[[{"node":"Notificar al founder","type":"main","index":0}]]},"Notificar al founder":{"main":[[{"node":"Esperar 24h","type":"main","index":0}]]},"Esperar 24h":{"main":[[{"node":"Leer planilla","type":"main","index":0}]]},"Leer planilla":{"main":[[{"node":"Verificar estado consulta","type":"main","index":0}]]},"Verificar estado consulta":{"main":[[{"node":"Sin respuesta aun?","type":"main","index":0}]]},"Sin respuesta aun?":{"main":[[{"node":"Follow-up al cliente","type":"main","index":0}],[]]}},"authors":"EZEQUIEL ANDRADE","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-22T20:08:30.100Z","id":78,"workflowId":"RIOfBhNGgfOd9Iwg","versionId":"46d0551d-ba7a-48e0-bfe2-43ce4bb053ea","event":"activated","userId":"c3a1b5cf-87e8-4057-a478-ab0fe4d3c148"},{"createdAt":"2026-05-22T20:08:29.973Z","id":77,"workflowId":"RIOfBhNGgfOd9Iwg","versionId":"46d0551d-ba7a-48e0-bfe2-43ce4bb053ea","event":"deactivated","userId":"c3a1b5cf-87e8-4057-a478-ab0fe4d3c148"}]}}